@import "mask-inc";

body {
}

div#nav {
    height: 40px;
    margin-top: -2px;
    padding-bottom: 2px;
    line-height: 44px;
    position: relative;
    box-shadow: 0px 1px 3px -1px fade(@black,10%);
    border-radius: 2px;
    overflow: hidden;
    background-color: @white;

    ul {
	margin: 0px -@gutter 0px -@gutter;
	padding: 0px 0px;
	list-style-type: none;
	text-align: center;

	& > li {
	    margin: 0px 0px;
	    padding-left: @gutter;
	    padding-right: @gutter;
	    float: left;
	}
	& > li > a {
	    width: 100%;
	    height: 100%;
	    display: block;
	}

	.nav-color(@color) {
	    position: relative;
	    overflow: hidden;
	    
	    &:after {
		content: "";
		width: 169.7px;
		height: 169.7px;
		background-color: @color;
		position: absolute;
		bottom: -(169.7px - 120px) / 2 - 120px + 6px;
		right: -(169.7px - 120px) / 2 - 120px + 6px;
		transform: rotate(45deg);
		display: block;
	    }
	    &:before {
		content: "";
		width: 169.7px;
		height: 169.7px;
		background-color: @color;
		position: absolute;
		top: -(169.7px - 120px) / 2 - 120px;
		left: -(169.7px - 120px) / 2 - 120px;
		transform: rotate(45deg);
		display: block;
		transition: top 10ms,left 10ms;
		transition-timing-function: linear;
	    }
	    &:hover:before,&.active:before {
		top: -(169.7px - 120px) / 2 - 120px + 12.36px;
		left: -(169.7px - 120px) / 2 - 120px + 12.36px;
	    }
	}
	& > li.plan {
	    .nav-color(@green);
	}
	& > li.about {
	    .nav-color(@blue);
	}
	& > li.support {
	    .nav-color(@purple);
	}
    }
}

div#main {
    margin-top: @gutter;
}
div#main.intro {
    margin-bottom: 60px;

    div.item {
	height: 216px;
	margin-top: @gutter;
	padding-top: @gutter;
	padding-bottom: @gutter;
	background-size: cover;

	& > div {
	    height: 100%;
	    font-size: @fs-sm;
	    position: relative;
	    float: right;
	    overflow: hidden;
	}
	div.brief,div.extend {
	    height: 100%;
	    position: absolute;
	    transition: top 300ms,opacity 600ms;
	    transition-timing-function: linear;
	}
	div.brief {
	    top: 0%;
	    opacity: 1;
	}
	div.extend {
	    top: 150%;
	    opacity: 0;
	}
	&.extend div.brief{
	    top: -150%;
	    opacity: 0;
	}
	&.extend div.extend{
	    top: 0%;
	    opacity: 1;
	}
    }
}
